.form-switch.form-switch-lg .form-check-input {
    width: 3rem !important;
    height: 1.6rem !important;
    transform: scale(1.2) !important;
    margin-top: 0.1rem !important;
    height: 0.9rem !important;
}

.form-switch.form-switch-lg .form-check-input:checked {
    background-color: #0d6efd;
    /* or your theme color */
}

.form-switch .form-check-input {
    width: 2rem !important;
    height: 0.9rem !important;
}