.nav-tabs-container {
    position: relative;
}

.tab-indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: var(--bs-primary);
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    border-radius: 999px;
}

.nav-link {
    padding: 0.5rem 0.1rem;
    margin-right: 1.5rem;
    border: none !important;
    border-bottom: 2px solid transparent !important;
    color: var(--bs-gray-600);
    font-weight: 500;
    cursor: pointer;
}

.nav-link.active,
.nav-link:focus,
.nav-link:hover {
    color: var(--bs-primary);
    background-color: transparent !important;
}

/* Simple form label appearance to match the image */
.form-label {
    margin-bottom: 0.2rem;
}

.upload-box {
    border: 3px dotted #999;
    transition: 0.2s;
}

.upload-box:hover {
    background-color: #f7f7f7;
    border-color: #6c6c6c;
}

.btn-outline-primary {
    background-color: #fff !important;
    /* Custom default background color */
    border-color: #D9D9D9 !important;
}

.btn-outline-primary:hover {
    background-color: #7991BB !important;
    border-color: #7991BB !important;
}


/* === ROUND TABLE CORNERS === */
.table-rounded {
    border-collapse: separate !important;
    border-spacing: 0 !important;
    border-radius: 12px;
    overflow: hidden;
}

/* Force separate borders for radius to work */
.table-rounded {
    border-collapse: separate !important;
    /* border-spacing: 0 3px !important; */
    /* space between rows */
    /* background: transparent !important; */
}

/* Remove Bootstrap default hard borders */
.table-rounded th,
.table-rounded td {
    border: 1.8px solid #D9D9D9 !important;
}

/* === ROUNDING FOR THEAD === */
.table-rounded thead tr th {
    /* background: #F8F8F8 !important; */
    border-bottom: none !important;
    background-color: #D9D9D9 !important;

}

/* Top-left corner */
.table-rounded thead tr th:first-child {
    border-top-left-radius: 12px;
}

/* Top-right corner */
.table-rounded thead tr th:last-child {
    border-top-right-radius: 12px;
}

.table-rounded tbody tr:not(:first-child) td {
    padding-top: 8px;
    /* creates natural row gap */
}

/* === ROUNDING FOR EACH ROW === */
.table-rounded tbody tr {
    background: white;
}

.table-rounded tbody tr td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 12px;
}

.table-rounded tbody tr td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 12px;
}

/* Remove spacing collapse at top */
.table-rounded thead tr {
    background: white !important;
}