.modal-backdrop-custom {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050;
}

.modal-dialog-custom.bulk-modal {
    background: #fff;
    border-radius: 10px;
    width: 600px;
    /* narrower now that it's one column */
    max-width: 95vw;
    padding: 1.5rem 1.75rem 1.75rem;
}

.form-label-inline {
    min-width: 160px;
    /* align all fields */
    font-weight: 500;
    text-align: left;
}


.modal-header-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 1rem 0.8rem;
    margin: -1.5rem -1.75rem 1.25rem;
    background-color: #e2e5ea;
    border-radius: 10px 10px 0 0;
}

.modal-title {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
}

.close-btn {
    border: none;
    background: transparent;
    font-size: 1.2rem;
    line-height: 1;
    cursor: pointer;
}

.modal-footer-custom {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.75rem;
}

.bulkupdate-helper-text {
    display: block;
    font-size: 0.9rem;
    color: #6c757d;
    /* muted gray */
    margin-bottom: 0.25rem;
}



/* Chrome, Edge, Safari */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}