


body {
  /* font-family: "Noto Sans JP", sans-serif; */
  display: block;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 5px 25px;
  background: #19376D;
  color: white;
  border-radius: 0px 0px 60px 60px;
  position: relative;
  z-index: 2;
}


.header h2 {
  font-weight: 390;
}


.profile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.header nav {
  margin-left: auto;
  display: flex;
  gap: 25px;
}

.header nav a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}


.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 61px;
  height: 100vh;
  background-color: #7991BB;
  z-index: 1;
}

/* Breadcrumb container */
.breadcrumb {
  display: flex;
  align-items: center;
  gap: 10px;          
  padding: 10px 25px;
  font-size: 14px;
  color: #5E5E5E;
  margin-left: 4.8rem;
}

/* Breadcrumb icon style */
.breadcrumb svg {
  width: 18px;
  height: 18px;
  stroke-width: 2;
  rotate: 180deg;
}

/* Optional breadcrumb text styling */
.breadcrumb span {
  font-weight: 500;
}
