body {
  /* font-family: "Noto Sans JP", sans-serif; */
  display: block;
  margin: auto;
}

/* .header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 12px 25px;
  background: #19376D;
  color: white;
  border-radius: 0px 0px 60px 60px;
  position: relative;
  z-index: 2;
} */
/* Fixed header stays at top */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 12px 25px;
  background: #19376d;
  color: white;
  border-radius: 0px 0px 60px 60px;
  z-index: 1050;
}

.header h2 {
  font-weight: 390;
}

.profile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.header nav {
  margin-left: auto;
  display: flex;
  gap: 25px;
}

.header nav a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 61px;
  height: 100vh;
  background-color: #7991bb;
  z-index: 1;
}

/* Breadcrumb container */
/* Fixed breadcrumb stays right below header */
.breadcrumb {
  position: relative;
  top: 69px;
  left: 20px;
  right: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 25px;
  font-size: 13px !important;
  color: #5e5e5e;
  background: white;
  /* border-bottom: 1px solid #eee; */
  /* Subtle separator */
  margin-left: 0;
  z-index: 999;
}

/* Rotate + size for icons */
.breadcrumb svg {
  width: 18px;
  height: 18px;
  stroke-width: 2;
  rotate: 180deg;
}

.breadcrumb-item-flex {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.breadcrumb-link {
  /* color: #2563eb; */
  text-decoration: none;
}

.breadcrumb-link:hover {
  text-decoration: underline;
}

/* reset button to look like link */
.btn-reset {
  border: none;
  background: transparent;
  padding: 0;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  /* color: #2563eb; */
  cursor: pointer;
}
